/*#region global */
#container{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family:Raleway; sans-serif; verdana;
}

h1{
    font-size: 1.4em;
}

#logo img{
width: 111px;
margin: 0px;
margin-top: 20px;
}

#bigblock{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:2%;
}

/*#endregion*/

/*#region header*/

#header{
    width: 100%;
    height:330px;
    padding-left:2%;
}

#logomenu{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li a{
    text-decoration: none;
    margin-left:30px;
    margin-right:30px;
    color: grey;
    padding:20px
}

li a:hover{
    color:#0065FC;
    border-top: solid ;
}

#inscription a:hover{
    border-top:none;
    color:none;
}

#inscription a{
    color:#0065FC;
    font-weight: bold;
}

nav ul{
    padding: 15px;
    margin: 6px;
    list-style-type: none;
    display: flex;
}


#ville{
    display: flex;
    flex-direction: row;
    border: 1px grey solid;
    border-radius:15px;
    align-items: center;
    width:31%;
    height:12%;
    overflow:hidden;
}

#ville i {
    width:1%;
    background-color:rgba(175, 173, 173, 0.1 );
    justify-content: center;
    display: flex;
    padding:6%;
}

.media{
    background-color:blue;
    padding: 45px;
    overflow: hidden;
    color: white;
}


#ville p{
    background-color:#0065FC;
    width:30%;
    justify-content: center;
    display: flex;
    padding: 5%;
    color:white;
    font-weight: bold;
}

#ville form{
    width:65%;
}

#ville input{
    width:100%;
    border:0px;
    height: 50px;
    font-weight: bold;
    font-size:1.3em;
}

input:focus {
    outline:  none;
}

#disposition_filtres{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding-top: 20px;
}

#disposition_filtres p{
    font-weight: bold;
}

.mesfiltres{
    display:flex;
    flex-direction:row;
    align-items:center;
    border:1px rgb(175, 173, 173) solid;
    border-radius:50px;
    flex-direction: space-around;
}

.mesfiltres i{
    background-color: rgb(222,235,255);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    color:#0065FC;
}

.mesfiltres a{
    padding-left: 5px;
    padding-right: 18px;
    text-decoration:none;
    font-weight: bold;
    color:black
}

.mesfiltres a:hover{
    color:#fcc100;
}

#disponible{
    display:flex;
    flex-direction: row;
    align-items: center;
}






/*#endregion*/

/*#region-hébergement*/
#block-hebergement{
    background-color: #F2F2F2;
    width: 65%;
    border-radius: 15px;
}

#block-hebergement h2{
    margin-left:20px;
}

#block-hebergement figure {
    margin : 0;
}

#block-hebergement .disposition_hebergement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height:80%;
}

#block-hebergement p{
    font-weight: bold;
}


.box.box1{
    width: 28%;
    height: 38%;
    background-color: white;
    border-radius:15px;
    box-shadow: 2px 4px 10px rgb(175, 173, 173); 
    text-align: center;
}

.box1 img{
    width: 96%;
    height: 60%;
    padding-left: 3px;
    border-radius: 15px 15px 0px 0px;
    padding: 5px 3px 0px 3px;
    object-fit: cover;
  }

.box1 figcaption{
      display:flex;
      flex-direction:column;
      line-height: 10%;
      text-align: left;
      margin-left: 15px;
      height:30px;
  }

figcaption h3{
      font-size: 1em;
  }

figcaption p{
      font-size:0.7em;
  }

figcaption .rating{
      font-size:0.6em;
      color:#0065FC;
  }

.rating a {
    color:;
    text-decoration: none;
    font-size: 1em;
 }
/*#endregion*/

/*#region-populaire*/
#block-populaire{
    background-color: #F2F2F2;
    width: 30%;
    border-radius: 15px;
}

#block_populaire .disposition_populaire{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:80%;
}

.disposition_populaire{
    width:100%;
    height: 80%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:4%;
}


.box.box2{
    width: 85%;
    height: 25%;
    background-color: white;
    border-radius: 10px;
    display:flex;
    box-shadow: 2px 4px 10px rgb(175, 173, 173); 
}

.box2 a{
    width: 40%;
    overflow: hidden;
    padding-right:5%;
}

.box2 img{
    width: 100%;
    height: 97%;
    border-style: solid;
    border-color: white;
    border-radius: 10px 0px 0px 10px;
    align-items: center;
    object-fit: cover;
}

.box2 p{
    margin-bottom: 24%;
}




#alignementlogo{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
}
/*#endregion*/

/*#region activite*/
#block-activite{
    background-color: white;
    width: 100%;
    height: 500px;
    margin-top:4%;
}

#block-activite h2{
    margin-left:1%;   
}

.disposition_activite{
    width:95%;
    height:80%;
    display:grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows:50% 50%;
    grid-auto-rows: 220px;
}


.disposition_activite h3 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-left:10px;
}

.disposition_activite figure{
    width: 90%;
    height:auto;
    border-radius: 15px;
    box-shadow: 2px 4px 10px rgb(175, 173, 173); 
    object-fit: cover;
    display:flex;
    flex-direction:column;
}

#un {
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end: 3;

}

#deux{
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:2;

}

#trois{
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:3;

}
    
#quatre{
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:3;

}

#cinq{
    grid-column-start:4;
    grid-column-end:5;
    grid-row-start:1;
    grid-row-end:2;

}


#six{
    grid-column-start:4;
    grid-column-end:5;
    grid-row-start:2;
    grid-row-end:3;

}

.img{
    height:100%;
    overflow: hidden;
}

.disposition_activite img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}




/*#endregion*/   

/*#region-footer*/
#block_footer{
     background-color:#F2F2F2 ;
     width: 100%;   
     display: flex;
     flex-direction: row;
}

#block_footer ul{
    display: flex;
    flex-direction: column;
    list-style-type:none; 
    margin-right:14%;
}

.titre{
font-weight: bold;
margin-bottom: 4%;
}
/*#endregion*/

/*#Media-Queries*/
@media (max-width: 767px)
{

    #header{
        width:100%;
        height:750px;
    }

    #ville{
        width:97%;
    }

    h1{
        font-size:2.8em;
    }

    #header p{
        font-size:1.8em;
    }

    #ville p{
        display:none;
    }

    #ville form {
        width: 75%;
    }
    

    #disposition_filtres{
        display:flex;
        flex-direction:column;
    }

    #bigblock{
        width:100%;
        flex-direction:column-reverse;
        margin:0;
        padding:0;
        height:auto;
    }

    #block-hebergement{
        margin:0;
        padding:0;
        width:100%;
        height:auto;
        background-color:white;
        border-top:20px;
    }

    #block-hebergement figure{
        flex-direction:column;
        display:flex;
        width:95%;
        height:260px;
        margin-top:20px;
    }

    #block-hebergement figure img{
        height:160px
    }

    #block-hebergement h3{
    margin-block-start: 0.6em;
    margin-block-end: 0.5em;  
    }


    .box1 img {
        width: 97%;
        height: 60%;
        border-radius: 15px 15px 0px 0px;
        padding: 5px 3px 0px 3px;
        object-fit: cover;
    }

    .box1 figcaption{
        font-size:1.5em;
        line-height: 0;
    }

    #block-populaire{
        width:100%;
        height:auto;
        border-radius:0px;
    }

    #alignementlogo h2{
        margin-right:50%;
    }

    #block-populaire figure{
        width:95%;
        height:200px;
    }

    #block-populaire figcaption{
        font-size:1.5em;
    }

    #block-activite{
        height:auto;
        margin:0;
        padding:0;
    }

    #block-activite figure{
        height:260px;
        width:95%;
        margin-left:15px;
    }

    #block-activite h2{
        margin-left:15px;
    }

    .disposition_activite{
        display:flex;
        flex-direction:column;
        width:100%;
        height:auto;
    }

    #block_footer{
        display:flex;
        flex-direction: column;
        font-size:1.5em;
    }
    

}

/*#endregion*/





